.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about__me {
  width: 100%;
  border-radius: 2rem;

  display: grid;
  place-items: center;
}
.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(-10deg);
  transition: var(--transition);
}
.about__me-image:hover {
  transform: rotate(0);
}
.about__cards {
  display: grid;
  grid-template-areas: repeat(2, 1fr);
  margin-top: 20px;
}
.about__card {
  background-color: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  cursor: default;
}
.about__card:hover {
  background-color: var(--color-primary-variant);
}
.icon {
  font-size: 1.5rem;
}
.about__content p {
  margin-top: 1rem;
  color: var(--color-light);
}
.about__content {
  text-align: center;
}
h2 {
  margin-bottom: 3rem;
}
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
  }
  .about__me {
    width: 60%;
    margin: 2rem auto 4rem;
  }
  .about__cards {
    grid-template-areas: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
  }
}
